.Ed-react-select-container {
  display: inline-block;
  font-size: 12px;
  width: 200px;
}

.Ed-react-select__control {
  min-height: 26px !important;
  height: 26px;
  border-radius: 0px !important;
}

.Ed-react-select__value-container {
  padding-left: 2px !important;
  padding-right: 0px !important;
}

.Ed-react-select__indicator {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.Ed-react-select__menu {
  margin-top: 0px !important;
  border-radius: 0px !important;
}

.Ed-child-collection-container {
  display: inline-block;
  margin: -4px;
}

.Ed-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.Ed-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.Ed-field-group {
  padding: 2px;
}

.Ed-field-name {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.Ed-field-hidden {
  display: none;
}

.Ed-column-button {
  flex: none;
  /* width: 70px; */
}

.Ed-column-button .Ed-button {
  display: inline-block;
}

.Ed-page-nav-container {
  padding-bottom: 4px;
  margin: -4px -4px 4px -4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: lightgray;
  padding: 4px;
}

.Ed-page-nav-container div {
  display: inline-block;
}

.Ed-page-nav-container div:first-child {
  margin-right: 8px;
}

.Ed-button {
  background-repeat: no-repeat;
  background-size: 18px 18px;
  width: 20px;
  height: 20px;
  padding: 1px 1px 1px 1px;
  margin: 0px;
  color: transparent;
  border-width: 0px;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  vertical-align: middle;
}

.Ed-button:hover {
  background-color:  rgba(0,0,0,0.1);
}

.Ed-button.disabled {
  background-color: transparent;
  cursor: default;
  filter: invert(50%);
}

/* icons from https://feathericons.com/ (MIT Licence) */
.Ed-button-delete {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItdHJhc2gtMiI+PHBvbHlsaW5lIHBvaW50cz0iMyA2IDUgNiAyMSA2Ij48L3BvbHlsaW5lPjxwYXRoIGQ9Ik0xOSA2djE0YTIgMiAwIDAgMS0yIDJIN2EyIDIgMCAwIDEtMi0yVjZtMyAwVjRhMiAyIDAgMCAxIDItMmg0YTIgMiAwIDAgMSAyIDJ2MiI+PC9wYXRoPjxsaW5lIHgxPSIxMCIgeTE9IjExIiB4Mj0iMTAiIHkyPSIxNyI+PC9saW5lPjxsaW5lIHgxPSIxNCIgeTE9IjExIiB4Mj0iMTQiIHkyPSIxNyI+PC9saW5lPjwvc3ZnPg==");
  float: right;
}

.Ed-button-prev {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1sZWZ0Ij48cG9seWxpbmUgcG9pbnRzPSIxNSAxOCA5IDEyIDE1IDYiPjwvcG9seWxpbmU+PC9zdmc+");
  margin-right: -2px;
}

.Ed-button-next {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1yaWdodCI+PHBvbHlsaW5lIHBvaW50cz0iOSAxOCAxNSAxMiA5IDYiPjwvcG9seWxpbmU+PC9zdmc+");
  margin-left: -2px;
}

.Ed-button-new {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItZmlsZS1wbHVzIj48cGF0aCBkPSJNMTQgMkg2YTIgMiAwIDAgMC0yIDJ2MTZhMiAyIDAgMCAwIDIgMmgxMmEyIDIgMCAwIDAgMi0yVjh6Ij48L3BhdGg+PHBvbHlsaW5lIHBvaW50cz0iMTQgMiAxNCA4IDIwIDgiPjwvcG9seWxpbmU+PGxpbmUgeDE9IjEyIiB5MT0iMTgiIHgyPSIxMiIgeTI9IjEyIj48L2xpbmU+PGxpbmUgeDE9IjkiIHkxPSIxNSIgeDI9IjE1IiB5Mj0iMTUiPjwvbGluZT48L3N2Zz4=");
  float: right;
}

.Ed-button-save {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItc2F2ZSI+PHBhdGggZD0iTTE5IDIxSDVhMiAyIDAgMCAxLTItMlY1YTIgMiAwIDAgMSAyLTJoMTFsNSA1djExYTIgMiAwIDAgMS0yIDJ6Ij48L3BhdGg+PHBvbHlsaW5lIHBvaW50cz0iMTcgMjEgMTcgMTMgNyAxMyA3IDIxIj48L3BvbHlsaW5lPjxwb2x5bGluZSBwb2ludHM9IjcgMyA3IDggMTUgOCI+PC9wb2x5bGluZT48L3N2Zz4=");
}

.Ed-button-cancel {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXIteCI+PGxpbmUgeDE9IjE4IiB5MT0iNiIgeDI9IjYiIHkyPSIxOCI+PC9saW5lPjxsaW5lIHgxPSI2IiB5MT0iNiIgeDI9IjE4IiB5Mj0iMTgiPjwvbGluZT48L3N2Zz4=");
}

.Ed-button-edit {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItZWRpdCI+PHBhdGggZD0iTTExIDRINGEyIDIgMCAwIDAtMiAydjE0YTIgMiAwIDAgMCAyIDJoMTRhMiAyIDAgMCAwIDItMnYtNyI+PC9wYXRoPjxwYXRoIGQ9Ik0xOC41IDIuNWEyLjEyMSAyLjEyMSAwIDAgMSAzIDNMMTIgMTVsLTQgMSAxLTQgOS41LTkuNXoiPjwvcGF0aD48L3N2Zz4=");
}

.Ed-button-upload {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItdXBsb2FkIj48cGF0aCBkPSJNMjEgMTV2NGEyIDIgMCAwIDEtMiAySDVhMiAyIDAgMCAxLTItMnYtNCI+PC9wYXRoPjxwb2x5bGluZSBwb2ludHM9IjE3IDggMTIgMyA3IDgiPjwvcG9seWxpbmU+PGxpbmUgeDE9IjEyIiB5MT0iMyIgeDI9IjEyIiB5Mj0iMTUiPjwvbGluZT48L3N2Zz4=");
}

.Ed-button-clear {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXIteCI+PGxpbmUgeDE9IjE4IiB5MT0iNiIgeDI9IjYiIHkyPSIxOCI+PC9saW5lPjxsaW5lIHgxPSI2IiB5MT0iNiIgeDI9IjE4IiB5Mj0iMTgiPjwvbGluZT48L3N2Zz4=");
}

.Ed-save-cancel-block {
  float: right;
}

.Ed-image .Ed-button {
  display: inline-block;
}

.Ed-save-cancel-block .Ed-button{
  display: inline-block;
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.Ed-selected-item {
  background-color:  rgba(0,0,0,0.1);
}

.Ed-single-col-wrapper {
  margin: 4px;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;  
  border-radius: 4px;
  font-size: 14px;
}

.Ed-single-col-wrapper th {
  font-weight: normal;
  text-align: left;
  padding-left: 4px;
}

.Ed-two-col-wrapper {
  display: flex;
  font-size: 14px;
}

.Ed-single-col-wrapper input[type="text"] {
  width: 200px;
}

.Ed-two-col-wrapper input[type="url"] {
  width: 200px;
}

.Ed-two-col-wrapper input[type="text"] {
  width: 200px;
}

.Ed-two-col-wrapper input[type="url"] {
  width: 200px;
}

.Ed-two-col-wrapper textarea {
  width: 400px;
  height: 70px;
}

.Ed-left-col {
  flex: 30%;
  margin: 4px;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 4px;
}

.Ed-right-col {
  flex: 70%;
  margin: 4px;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;  
  border-radius: 4px;
}

.Ed-field-info {
  display: inline-block;
  vertical-align: super;
  font-size: 10px;
  margin-left: 2px;
}

.Ed-field-info::after {
  content: 'i';
}

.Ed-menu {
  background-color: lightgray;
  padding: 4px;
}

.Ed-menu-button {
  border-style: none;
  background-color: lightgray;
  font-size: 16px;
  padding: 4px;
}

.Ed-menu-items {
  padding: 4px;
  font-size: 14px;
  margin-block-start: 0px;
}

.Ed-menu .AriaMenuButton {
  display: inline-block;
  position: relative;
}

.Ed-menu .AriaMenuButton-trigger {
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Ed-menu .AriaMenuButton-trigger::after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  position: relative;
  top: 3px;
  border-color: currentColor transparent transparent;
  border-width: 5px 4px;
  border-style: solid;
}

.Ed-menu .AriaMenuButton-trigger:hover,
.AriaMenuButton-trigger:focus,
.AriaMenuButton-trigger.is-open {
  outline: none;
}

.Ed-menu .AriaMenuButton-trigger:active,
.AriaMenuButton-trigger.is-open {
  outline: none;
}

.Ed-menu .AriaMenuButton-menu {
  background-color: lightgray;
  font-weight: normal;
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  padding-left: 0;
  margin: 0;
  width: 315px;
}

.Ed-menu .AriaMenuButton-menu--flushRight {
  right: 0;
}

.Ed-menu .current.AriaMenuButton-menuItem {
  font-weight: bold;
}

.Ed-menu .AriaMenuButton-menuItem {
  cursor: pointer;
  padding: 0px;
}

.Ed-menu .AriaMenuButton-menuItem div {
  padding: 4px;
  width: 100%;
}


.Ed-menu a {
  text-decoration: none;
  color: black;
}

.Ed-menu a:hover {
  color: white;
}

.Ed-menu .AriaMenuButton-menuItem.selected {
  background-color: gray;
  color: white;
}

.Ed-menu .AriaMenuButton-menuItem.selected a {
  color: white;
}

.Ed-menu .AriaMenuButton-menuItem:hover,
.AriaMenuButton-menuItem:focus {
  background-color: gray;
  color: white;
}

.Ed-menu .AriaMenuButton-menuItem:hover,
.AriaMenuButton-menuItem:focus a {
  color: white;
}


.Ed-menu .AriaMenuButton-menuItem.is-selected {
  cursor: default;
  font-weight: bold;
}

.Ed-required-field {
  display: inline;
  color: red;
  margin-left: 2px;
}

.Ed-required-field::after {
  content: '*';
}

.Ed-validation-errors {
  color: red;
  display: inline-block;
  margin-left: 4px;
}

.Ed-tabular-field-error {
  display: inline-block;
  color: red;
  width: 6px;
  padding-left: 2px;
}

.Ed-tabular-field-no-error {
  display: inline-block;
  width: 6px;
}

.Ed-tabular-field-error::after {
  content: '!';
}

.Ed-container-link {
  color: black;
  text-decoration: none;
}

.Ed-container-link:hover {
  background-color:  rgba(0,0,0,0.1);
}

.Ed-collection-error-item {
  color: red;
}

.Ed-shortcut-char {
  text-decoration: underline;
}

.Ed-image {
  display: inline-block;
}
.Ed-image input {
  cursor: pointer;
}
.Ed-image .Ed-button {
  vertical-align: top;
}
.Ed-image img {
  max-width: 300px;
}

.Ed-current-field {
  display: inline-block;
  padding-left: 10px;
}

.Ed-standalone-item-wrapper .Ed-button {
  float: right;
}

/* Spinner */

.Ed-loading {
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 64px;
  height: 64px;
}
.Ed-loading:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: Ed-loading 1.2s linear infinite;
}
@keyframes Ed-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}